.card-product-preview 

    &__item
        display block
        height 425px

        @media (max-width 479px)
            height 325px

        @media (max-width 374px)
            height 290px

    &__slider-thumb-track
        display flex
        justify-content center

    &__items-thumbs
        margin-top 40px

        @media (max-width 479px)
            margin-top 20px

        .splide__arrow
            width 50px
            height 50px
            border 1px solid #A79186
            border-radius 0
            background-color #fff

            &:disabled
                // opacity .3
                // cursor default
                display none

            .svg-icon
                width 30px
                height 30px
                font-size 25px    

        .splide__arrow--prev
            left 2em

            @media (max-width 479px)
                left 0

        .splide__arrow--next
            right 2em  

            @media (max-width 479px)
                right 0      

    &__slider-thumb-track
        width 210px
        margin 0 auto            

        @media (max-width 479px)
            width 130px

    &__item-thumb
        width 50px
        height 50px            
        transition border-color .3s
        border-width 2px !important
        cursor pointer

        &.is-active
            border-color #6e031f !important