.mobile-main-menu

    &__nav

        ul
            list-style-type none
            padding-left 15px

            li
                margin-bottom 5px
                position relative
                padding-left 0
                
                &:before
                    display none

                &.haschild
                    > ul
                        display none
                        padding-top 10px
                        padding-bottom 10px

                .sub-menu-trigger
                    position absolute
                    top 0
                    right 20px
                    width 25px
                    height 25px
                    padding-top 5px
                    padding-left 5px
                    display block
                    &.is-drop-down
                        .trigger-arrow
                            transform rotate(180deg)

                    .trigger-arrow
                        width 16px
                        height 10px
                        background-image url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23333333'/%3E%3C/svg%3E%0A")
                        background-repeat no-repeat
                        background-size contain
                        transition transform .3s
                        display block
                
                a
                    font-size 14px
                    color #333
                    font-weight 400
                    line-height 1.1
                    text-transform uppercase
                    text-decoration none
                    &:hover
                        text-decoration underline