<div block="catalog-search">
    <div elem="section">
        <div elem="top">
            <div elem="found">По запросу “розы” найдено 12 товаров</div>
            <div block="sorting-products">
                <div elem="section">
                    <div elem="title" class="js-sorting-title">
                        <span elem="current-sort" class="js-sort-current" data-carrent-sort="">Сортировать по:</span>
                    </div>
                    <div elem="dropdown" class="js-sorting-dropdown">
                        <div elem="dropdown-title">Сортировать по</div>
                        <ul elem="dropdown-list">
                            <li class="js-sorting-list-item" data-sort="recommended">Рекомендованным</li>
                            <li class="js-sorting-list-item" data-sort="price-low-to-high">Цене (от низкой к высокой)</li>
                            <li class="js-sorting-list-item" data-sort="price-high-to-low">Цене (от высокой к низкой)</li>
                        </ul>
                    </div>
                </div>
            </div><!-- sorting-products -->
        </div>
        <div elem="items">
            <div elem="item">
                <div block="lot-thumb">
                    <div elem="body">
                        <div elem="top">
                            <a elem="img-link" href="#">
                                <span elem="img">
                                    <img src="img/lot-thumb-img.jpg" alt="">
                                </span>
                            </a>
                            <div elem="labels">
                                <span elem="label" mods="share">Акция</span>
                            </div>
                        </div>
                        <div elem="middle">
                            <a elem="name" href="#">101 красная роза (россия) в бел корзине с зеленью</a>
                        </div>
                        <div elem="bottom">
                            <div elem="info">
                                <div elem="prices">
                                    <span elem="current-price">5 650 ₽</span>
                                    <span elem="old-prace">7 060 ₽</span>
                                </div>
                                <div elem="manage">
                                    <button elem="btn-to-cart" class="js-add-to-cart" type="button">
                                        {{ _icon('mini-cart-icon', { tag: 'i' }) }}
                                        {{ _icon('completed-icon', { tag: 'i' }) }}
                                        <span>В корзину</span>
                                    </button>
                                    <a elem="btn-to-cart" mods="added-to-cart" href="#">
                                        {{ _icon('mini-cart-icon', { tag: 'i' }) }}
                                        {{ _icon('completed-icon', { tag: 'i' }) }}
                                        <span>В корзине</span>
                                    </a>
                                    {% include "amount.html" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- lot-thumb -->
            </div>
            <div elem="item">
                <div block="lot-thumb">
                    <div elem="body">
                        <div elem="top">
                            <a elem="img-link" href="#">
                                <span elem="img">
                                    <img src="img/lot-thumb2-img.jpg" alt="">
                                </span>
                            </a>
                            <div elem="labels">
                                <span elem="label" mods="share">Акция</span>
                            </div>
                        </div>
                        <div elem="middle">
                            <a elem="name" href="#">5 белых гортензий в шляпной коробке</a>
                        </div>
                        <div elem="bottom">
                            <div elem="info">
                                <div elem="prices">
                                    <span elem="current-price">5 650 ₽</span>
                                    <span elem="old-prace">7 060 ₽</span>
                                </div>
                                <div elem="manage">
                                    <button elem="btn-to-cart" class="js-add-to-cart" type="button">
                                        {{ _icon('mini-cart-icon', { tag: 'i' }) }}
                                        {{ _icon('completed-icon', { tag: 'i' }) }}
                                        <span>В корзину</span>
                                    </button>
                                    <a elem="btn-to-cart" mods="added-to-cart" href="#">
                                        {{ _icon('mini-cart-icon', { tag: 'i' }) }}
                                        {{ _icon('completed-icon', { tag: 'i' }) }}
                                        <span>В корзине</span>
                                    </a>
                                    {% include "amount.html" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- lot-thumb -->
            </div>
            <div elem="item">
                <div block="lot-thumb">
                    <div elem="body">
                        <div elem="top">
                            <a elem="img-link" href="#">
                                <span elem="img">
                                    <img src="img/lot-thumb3-img.jpg" alt="">
                                </span>
                            </a>
                            <div elem="labels">
                                <span elem="label" mods="discount">Суперскидка</span>
                            </div>
                        </div>
                        <div elem="middle">
                            <a elem="name" href="#">Букет из 21 кустовой хризантемы</a>
                        </div>
                        <div elem="bottom">
                            <div elem="info">
                                <div elem="prices">
                                    <span elem="current-price">5 650 ₽</span>
                                    <span elem="old-prace">7 060 ₽</span>
                                </div>
                                <div elem="manage">
                                    <button elem="btn-to-cart" class="js-add-to-cart" type="button">
                                        {{ _icon('mini-cart-icon', { tag: 'i' }) }}
                                        {{ _icon('completed-icon', { tag: 'i' }) }}
                                        <span>В корзину</span>
                                    </button>
                                    <a elem="btn-to-cart" mods="added-to-cart" href="#">
                                        {{ _icon('mini-cart-icon', { tag: 'i' }) }}
                                        {{ _icon('completed-icon', { tag: 'i' }) }}
                                        <span>В корзине</span>
                                    </a>
                                    {% include "amount.html" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- lot-thumb -->
            </div>
            <div elem="item">
                <div block="lot-thumb">
                    <div elem="body">
                        <div elem="top">
                            <a elem="img-link" href="#">
                                <span elem="img">
                                    <img src="img/lot-thumb3-img.jpg" alt="">
                                </span>
                            </a>
                        </div>
                        <div elem="middle">
                            <a elem="name" href="#">Букет из 21 кустовой хризантемы</a>
                        </div>
                        <div elem="bottom">
                            <div elem="info" mods="out-lot">
                                <div elem="prices">
                                    <span elem="current-price">5 650 ₽</span>
                                    <span elem="old-prace">7 060 ₽</span>
                                </div>
                                <div elem="manage">
                                    <button elem="btn-to-cart" class="js-add-to-cart" data-text="В корзине" type="button">
                                        {{ _icon('mini-cart-icon', { tag: 'i' }) }}
                                        {{ _icon('completed-icon', { tag: 'i' }) }}
                                        Нет в наличии
                                    </button>
                                    {% include "amount.html" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- lot-thumb -->
            </div>
            <div elem="item">
                <div block="lot-thumb">
                    <div elem="body">
                        <div elem="top">
                            <a elem="img-link" href="#">
                                <span elem="img">
                                    <img src="img/lot-thumb2-img.jpg" alt="">
                                </span>
                            </a>
                            <div elem="labels">
                                <span elem="label" mods="discount">Суперскидка</span>
                            </div>
                        </div>
                        <div elem="middle">
                            <a elem="name" href="#">5 белых гортензий в шляпной коробке</a>
                        </div>
                        <div elem="bottom">
                            <div elem="info">
                                <div elem="prices">
                                    <span elem="current-price">5 650 ₽</span>
                                    <span elem="old-prace">7 060 ₽</span>
                                </div>
                                <div elem="manage">
                                    <button elem="btn-to-cart" class="js-add-to-cart" type="button">
                                        {{ _icon('mini-cart-icon', { tag: 'i' }) }}
                                        {{ _icon('completed-icon', { tag: 'i' }) }}
                                        <span>В корзину</span>
                                    </button>
                                    <a elem="btn-to-cart" mods="added-to-cart" href="#">
                                        {{ _icon('mini-cart-icon', { tag: 'i' }) }}
                                        {{ _icon('completed-icon', { tag: 'i' }) }}
                                        <span>В корзине</span>
                                    </a>
                                    {% include "amount.html" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- lot-thumb -->
            </div>
            <div elem="item">
                <div block="lot-thumb">
                    <div elem="body">
                        <div elem="top">
                            <a elem="img-link" href="#">
                                <span elem="img">
                                    <img src="img/lot-thumb-img.jpg" alt="">
                                </span>
                            </a>
                            <div elem="labels">
                                <span elem="label" mods="share">Акция</span>
                            </div>
                        </div>
                        <div elem="middle">
                            <a elem="name" href="#">101 красная роза (россия) в бел корзине с зеленью</a>
                        </div>
                        <div elem="bottom">
                            <div elem="info">
                                <div elem="prices">
                                    <span elem="current-price">5 650 ₽</span>
                                    <span elem="old-prace">7 060 ₽</span>
                                </div>
                                <div elem="manage">
                                    <button elem="btn-to-cart" class="js-add-to-cart" type="button">
                                        {{ _icon('mini-cart-icon', { tag: 'i' }) }}
                                        {{ _icon('completed-icon', { tag: 'i' }) }}
                                        <span>В корзину</span>
                                    </button>
                                    <a elem="btn-to-cart" mods="added-to-cart" href="#">
                                        {{ _icon('mini-cart-icon', { tag: 'i' }) }}
                                        {{ _icon('completed-icon', { tag: 'i' }) }}
                                        <span>В корзине</span>
                                    </a>
                                    {% include "amount.html" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- lot-thumb -->
            </div>
        </div>
        <div elem="bottom">
            <button elem="btn-show-more" class="js-btn-show-more" type="button">Показать ещё</button>
            {% include "pogination.html" %}
        </div>
    </div>
</div><!-- catalog-search -->