<div block="cart">
    <div elem="section">
        <div elem="empty">
            <span>Корзина пуста</span>
            <a href="catalog-page.html">Перейти в каталог</a>
        </div>
        <form elem="form">
            <div elem="items-title">
                <div elem="item-title">Фото</div>
                <div elem="item-title">Название</div>
                <div elem="item-title">Цена</div>
                <div elem="item-title">Количество</div>
                <div elem="item-title">Сумма</div>
                <div elem="item-title">&nbsp;</div>
            </div>
            <div elem="items">
                <div elem="item">
                    <div elem="body">
                        <div elem="img">
                            <a elem="img-link" href="#">
                                <img src="img/lot-thumb-img.jpg" alt="">
                            </a>
                        </div>
                        <div elem="info-product">
                            <a elem="name-product" href="#">
                                101 красная роза (россия)
                                в белой корзине с зеленью
                            </a>
                            <div elem="options-product">
                                <span>Количество: 101 шт</span>
                                <span>Высота: 60 см</span>
                            </div>
                        </div>
                        <div elem="price-product">
                            <div elem="item-title-mob">Цена</div>
                            <span elem="current-price">5650 ₽</span>
                            <span elem="old-price">7060 ₽</span>
                        </div>
                        <div elem="amount">
                            {% include "amount.html" %}
                        </div>
                        <div elem="total-product">
                            <div elem="item-title-mob">Сумма</div>
                            <span elem="current-price">5650 ₽</span>
                            <span elem="old-price">7060 ₽</span>
                        </div>
                        <button elem="remove-product" class="js-btn-remove-product" type="button">
                            {{ _icon('close', { tag: 'i' }) }}
                        </button>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="img">
                            <a elem="img-link" href="#">
                                <img src="img/lot-thumb2-img.jpg" alt="">
                            </a>
                        </div>
                        <div elem="info-product">
                            <a elem="name-product" href="#">
                                101 красная роза (россия)
                                в белой корзине с зеленью
                            </a>
                            <div elem="options-product">
                                <span>Количество: 101 шт</span>
                                <span>Высота: 60 см</span>
                            </div>
                        </div>
                        <div elem="price-product">
                            <div elem="item-title-mob">Цена</div>
                            <span elem="current-price">5650 ₽</span>
                            <span elem="old-price">7060 ₽</span>
                        </div>
                        <div elem="amount">
                            {% include "amount.html" %}
                        </div>
                        <div elem="total-product">
                            <div elem="item-title-mob">Сумма</div>
                            <span elem="current-price">5650 ₽</span>
                            <span elem="old-price">7060 ₽</span>
                        </div>
                        <button elem="remove-product" class="js-btn-remove-product" type="button">
                            {{ _icon('close', { tag: 'i' }) }}
                        </button>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="img">
                            <a elem="img-link" href="#">
                                <img src="img/lot-thumb3-img.jpg" alt="">
                            </a>
                        </div>
                        <div elem="info-product">
                            <a elem="name-product" href="#">
                                101 красная роза (россия)
                                в белой корзине с зеленью
                            </a>
                            <div elem="options-product">
                                <span>Количество: 101 шт</span>
                                <span>Высота: 60 см</span>
                            </div>
                        </div>
                        <div elem="price-product">
                            <div elem="item-title-mob">Цена</div>
                            <span elem="current-price">5650 ₽</span>
                            <span elem="old-price">7060 ₽</span>
                        </div>
                        <div elem="amount">
                            {% include "amount.html" %}
                        </div>
                        <div elem="total-product">
                            <div elem="item-title-mob">Сумма</div>
                            <span elem="current-price">5650 ₽</span>
                            <span elem="old-price">7060 ₽</span>
                        </div>
                        <button elem="remove-product" class="js-btn-remove-product" type="button">
                            {{ _icon('close', { tag: 'i' }) }}
                        </button>
                    </div>
                </div>
            </div>
            <div elem="items-extra">
                <div elem="item-extra">
                    <div elem="extra-title">Дополнительные услуги/товары</div>
                    <div elem="body">
                        <div elem="img" mods="extra"><img src="img/courier-icon.svg" alt=""></div>
                        <div elem="info-product">
                            <div elem="name-product">
                                Курьер в костюме
                            </div>
                        </div>
                        <div elem="price-product">
                            <span elem="current-price">500 ₽</span>
                        </div>
                        <div elem="amount" mods="extra"></div>
                        <div elem="append">
                            <div elem="btn-append" class="btn-general">Добавить</div>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="total">
                <div block="promo-code">
                    <div elem="title">Введите промокод</div>
                    <div elem="input">
                        <input type="text">
                        <button elem="btn-promo" class="btn-general" type="button">
                            {{ _icon('check-icon', { tag: 'i' }) }}
                        </button>
                    </div>
                    <div elem="info">
                        <span elem="name">Скидка по промокоду:</span>
                        <span elem="price">4 000 ₽</span>
                    </div>
                </div>
                <div elem="sum-total">
                    <div elem="sum-total-price">
                        <span elem="sum-total-name">Итого</span>
                        <span elem="current-price">11 430 ₽</span>
                        <span elem="old-price">15 650 ₽</span>
                    </div>
                    <a elem="btn-checkout" class="btn-general" href="checkout-page.html">Перейти к оформлению</a>
                </div>
            </div>
        </form>
    </div>
</div><!-- cart -->