.s-path
    font-size 13px
    color #333
    font-weight 400
    text-transform uppercase
    margin-bottom 35px
    flex none

    @media (max-width 767px)
        margin-bottom 15px

    a
        text-decoration none
        text-transform uppercase
        color #6E031F

        &:hover
            text-decoration underline
    &--pathPos
        position absolute
        top 0
        left 0
        right 0
        color #fff
        z-index 2

    &__separator
        line-height 14px

        .svg-icon--arrow
            width 5px
            height 7px

    @media all and (max-width: 1024px)
        margin-top 0
