.main-menu
    margin 0 auto
    padding-left 100px

    @media (max-width 1279px)
        padding-left 25px
        margin 0 0 0 -25px

    &__nav
        
        ul
            list-style-type none
            display flex
            align-items center
            padding-left 0
            margin 0

            li

                a
                    font-size 11px
                    color #333
                    font-weight 400
                    line-height 1.1
                    text-transform uppercase
                    text-decoration none   
                    padding 13px 12px
                    transition color .3s, background-color .3s
                    display block
                    &:hover
                        color #fff
                        background-color #A79186
