= yaml =
pageTitle: Ошибка 404 - Страница не найдена
bodyClasses: error404
layout: !!map
    header: true
    footer: true
    left: false
    right: false
= yaml =

{% extends 'app.html' %}

{% block inlineStyles %}
	<style>
		
		.container-404 {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			padding-top: 145px;
			padding-bottom: 145px;
			margin-bottom: -65px;
			background-image: url('img/404-pic.png');
			background-repeat: no-repeat;
			background-position: 100% 100%;
		}

		.title-404 {
			font-size: 144px;
			color: #A79186;
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
			line-height: 1;
			text-transform: uppercase;
			margin-bottom: 0;
		}

		.container-404 p {
			font-size: 14px;
			font-weight: 400;
			color: #A79186;
			line-height: 1.1;
		}

		.link-404-back {
			font-size: 14px;
			color: #6E031F;
			font-weight: 400;
			line-height: 17px;
			margin-top: 50px;
		}

		.link-404-back:hover {
            text-decoration: none;
		}
		
		@media (max-width: 1024px) {
			.container-404 {
				padding-top: 100px;
				margin-bottom: -50px;
			}
			
			.title-404 {
				font-size: 75px;
			}

			.link-404-back {
				margin-top: 25px;
			}
		}

	</style>
{% endblock %}

{% block main %}

<div class="container">
	<div class="container-404">
		<h1 class="title-404">404</h1>
		<p>Страница не существует</p>
		<a class="link-404-back" href="catalog-page.html">Перейти в каталог</a>
	</div>
</div>

{% endblock %}
