.your-order
    width 340px

    &.is-show-your-order
        right 0 !important

    @media (max-width 767px)
        position fixed
        top 60px
        right 0
        z-index 10
        right -100%
        transition right .3s

    @media (max-width 440px)
        width 100%

    &__section
        padding 40px
        background-color #F6F6F4

        @media (max-width 767px)
            padding 20px

    &__head
        display flex
        justify-content space-between
        padding-bottom 25px
        border-bottom 1px solid #E4E4DF
        margin-bottom 25px

        @media (max-width 767px)
            padding-bottom 15px
            margin-bottom 15px

    &__title
        font-size 24px
        color #333  
        font-family : $headings-font
        font-weight 400
        line-height 1.1

        @media (max-width 767px)
            font-size 20px

    &__link-change
        font-size 14px
        color #A79186
        font-weight 400
        line-height 1.1
        text-decoration none
        text-align right
        border-bottom 1px solid #CFC3BD
        align-self flex-end
        transition color .3s, border-color .3s
        &:hover
            color #6e031f

    &__body
        padding-bottom 25px
        border-bottom 1px solid #E4E4DF
        margin-bottom 25px

        @media (max-width 767px)
            padding-bottom 15px
            margin-bottom 15px

    &__info
        display flex
        justify-content space-between
        margin-bottom 15px

    &__name
        font-size 14px
        color #B4B1AF
        font-weight 400
        line-height 1.1

    &__current-price
        font-size 18px
        color #333
        font-weight 400
        line-height 1.1
        text-align right

        @media (max-width 767px)
            font-size 16px

    &__old-price
        font-size 14px
        color #D2D2CA
        font-weight 400
        line-height 17px
        text-align right
        text-decoration line-through
        margin-top 5px
    
    &__sum-total
        
        & ^[0]

            &__prices
                display flex
                align-items flex-end

            &__old-price
                margin-right 5px    

            &__current-price
                font-size 24px    

                @media (max-width 767px)
                    font-size 20px