.catalog-products

    &__top
        display flex
        justify-content space-between
        margin-bottom 25px

        @media (max-width 639px)
            flex-direction column
            align-items center

    &__found
        font-size 14px
        color #333
        font-weight 400
        line-height 1.1
        margin-right 15px

        @media (max-width 639px)
            margin-right 0
            margin-bottom 15px

    &__items    
        display flex
        flex-wrap wrap
        margin-left -20px

        @media (max-width 639px)
            margin-left 0
            flex-direction column

    &__item     
        padding-left 20px
        margin-bottom 20px
        display flex

        @media (max-width 639px)
            padding-left 0
            margin 0 auto 20px

    &__bottom
        padding-top 15px    

    &__btn-show-more
        font-size 14px
        color #A79186
        font-weight 400
        line-height 17px
        text-transform uppercase
        text-align center
        width 100%
        padding 12px 25px
        margin-bottom 25px
        display block
        background-color transparent
        border 1px solid #A79186    
        cursor pointer
        transition color .3s, background-color .3s, border-color .3s
        &:hover
            color #fff
            border-color #6e031f
            background-color #6e031f

    &__content
        padding-top 50px        

.sorting-products
    position relative

    &__section
        display flex
        align-items center

    &__title
        font-size 14px
        color #333
        font-weight 400
        line-height 1.1
        cursor pointer
        display flex
        align-items center
        transition color .3s
        &:after
            content ''
            display block
            width 12px
            height 6px
            background-image: svg-load('img/arr-top.svg', stroke\=#333)  
            background-repeat no-repeat
            background-size contain
            margin-left 5px
            transform rotate(180deg)
            transition background .3s

        &:hover
            color #6E031F 
            &:after
                background-image: svg-load('img/arr-top.svg', stroke\=#6E031F)  

        @media (max-width 639px)
            margin-right 10px

    &__dropdown
        position absolute      
        top -15px
        right -22px
        z-index 5  
        width 275px
        padding-top 15px
        padding-bottom 15px
        background-color #fff
        box-shadow 10px 10px 50px rgba(155, 155, 155, 0.1)
        display none

        @media (max-width 1279px)
            right 0

        @media (max-width 639px)
            right -44px    

    &__dropdown-title
        font-size 14px
        color #6E031F    
        font-weight 400
        line-height 1.1
        text-align right
        display flex
        align-items center
        justify-content flex-end
        padding-right 20px
        margin-bottom 10px
        &:after
            content ''
            display block
            width 12px
            height 6px
            background-image: svg-load('img/arr-top.svg', stroke\=#6E031F)  
            background-repeat no-repeat
            background-size contain
            margin-left 10px

    &__dropdown-list
        list-style-type none
        padding-left 0
        margin-bottom 0    
        
        li
            font-size 14px
            color #1B110F
            font-weight 400
            line-height 1.1
            text-align right
            padding 12px 40px 12px 20px
            margin-bottom 0
            transition .3s
            cursor pointer
            &:hover
                background-color #D2D2CA

            &:before
                display none

    &__btn
        font-size 14px
        color #333
        font-weight 400
        line-height 1.1
        margin-right 10px
        transition color .3s
        display flex
        align-items center
        text-decoration none
        &:after
            content ''
            width 10px
            height 6px
            background-image url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23333333'/%3E%3C/svg%3E%0A")
            background-repeat no-repeat
            background-size contain
            margin-left 4px
            transition transform .3s

        &:hover
            span
                border-bottom 1px dashed #6e031f

        &.is-active-sorting
            color #6e031f
            cursor default
            pointer-events none
            span
                border-bottom 1px dashed transparent

            &:after
                transform rotate(180deg)    

        span
            display block
            padding-bottom 1px
            border-bottom 1px dashed #333    
            transition border-color .3s